[run]
branch = True
source = wxparser
omit =
    wxparser/__init__.py

[report]
show_missing = True
fail_under = 100
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    raise AssertionError
    raise NotImplementedError
